[Unit]
Description=Run Oracle keep-alive bandwidth occupier periodically

[Timer]
OnBootSec=15min
OnUnitInactiveSec=45min
AccuracySec=1min
Persistent=true
Unit=bandwidth_occupier.service

[Install]
WantedBy=timers.target
